apiVersion: autoscaling/v2beta2
kind: HorizontalPodAutoscaler
metadata:
  name: codebox-broker
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: codebox-broker
  minReplicas: {{ BROKER_MIN }}
  maxReplicas: {{ BROKER_MAX }}
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 80
