kind: HorizontalPodAutoscaler
apiVersion: autoscaling/v1
metadata:
  name: codebox-broker
spec:
  minReplicas: {{ BROKER_MIN }}
  maxReplicas: {{ BROKER_MAX }}
  scaleTargetRef:
    apiVersion: extensions/v1beta1
    kind: Deployment
    name: codebox-broker
  targetCPUUtilizationPercentage: 80
