kind: Deployment
apiVersion: apps/v1
metadata:
  name: codebox-broker
  labels:
    app: codebox
    type: broker
spec:
  replicas: {{ REPLICAS }}
  selector:
    matchLabels:
      app: codebox
      type: broker

  template:
    metadata:
      labels:
        buildtime: {{ BUILDTIME }}
        app: codebox
        type: broker
    spec:
      terminationGracePeriodSeconds: 360
      imagePullSecrets:
        - name: syncano-k8s-pull-secret
      securityContext:
        fsGroup: 1000
      containers:
        - name: codebox-broker
          image: {{ IMAGE }}
          args:
            - codebox
            - broker
          securityContext:
            runAsGroup: 1000
            runAsNonRoot: true
            runAsUser: 1000
          resources:
            requests:
              memory: "64Mi"
              cpu: 100m
            limits:
              memory: "256Mi"
              cpu: 250m
          ports:
            - name: grpc
              containerPort: 8000
            - name: uwsgi
              containerPort: 8080
            - name: http-metrics
              containerPort: 9080
          env:
            - name: SERVICE_NAME
              value: codebox-broker
            - name: LB_ADDRS
              value: {{ LB_ADDRS }}
          envFrom:
            - configMapRef:
                name: codebox
            - secretRef:
                name: codebox
          livenessProbe:
            httpGet:
              path: /health
              port: 9080
            initialDelaySeconds: 5
