kind: Deployment
apiVersion: apps/v1
metadata:
  name: codebox-lb-{{ LB_NUM }}
  labels:
    app: codebox
    type: lb
spec:
  replicas: 1
  selector:
    matchLabels:
      name: codebox-lb-{{ LB_NUM }}
      app: codebox
      type: lb

  template:
    metadata:
      labels:
        buildtime: {{ BUILDTIME }}
        name: codebox-lb-{{ LB_NUM }}
        app: codebox
        type: lb
    spec:
      serviceAccountName: codebox-lb
      terminationGracePeriodSeconds: 360
      imagePullSecrets:
        - name: syncano-k8s-pull-secret
      volumes:
        - name: script-storage
          hostPath:
            path: /tmp/codebox
      containers:
        - name: codebox-lb-{{ LB_NUM }}
          image: {{ IMAGE }}
          command:
            - "codebox"
            - "lb"
          securityContext:
            runAsUser: 0
          resources:
            requests:
              memory: "256Mi"
              cpu: 250m
            limits:
              memory: "512Mi"
              cpu: 1000m
          ports:
            - name: grpc
              containerPort: 9000
            - name: http-metrics
              containerPort: 9080
          env:
            - name: SERVICE_NAME
              value: codebox-lb
            - name: SCALING_DEPLOYMENT
              value: codebox-worker-{{ LB_NUM }}
          envFrom:
            - configMapRef:
                name: codebox
            - secretRef:
                name: codebox
          volumeMounts:
            - mountPath: /home/codebox/storage
              name: script-storage
          livenessProbe:
            httpGet:
              path: /health
              port: 9080
            initialDelaySeconds: 5
          readinessProbe:
            httpGet:
              path: /ready
              port: 9080
            initialDelaySeconds: 5
