kind: Service
apiVersion: v1
metadata:
  name: codebox-lb-internal-{{ LB_NUM }}
spec:
  type: ClusterIP
  clusterIP: None
  publishNotReadyAddresses: true
  selector:
    name: codebox-lb-{{ LB_NUM }}
    buildtime: {{ BUILDTIME }}
  ports:
    - name: grpc
      protocol: TCP
      port: 8000
      targetPort: grpc
    - name: http-metrics
      protocol: TCP
      port: 9080
      targetPort: http-metrics
