kind: Service
apiVersion: v1
metadata:
  name: codebox-lb-internal-{{ LB_NUM }}
  annotations:
    service.alpha.kubernetes.io/tolerate-unready-endpoints: "true"
spec:
  type: ClusterIP
  clusterIP: None
  selector:
    name: codebox-lb-{{ LB_NUM }}
    buildtime: {{ BUILDTIME }}
  ports:
    - name: grpc
      protocol: TCP
      port: 9000
      targetPort: grpc
    - name: http-metrics
      protocol: TCP
      port: 9080
      targetPort: http-metrics
