apiVersion: rbac.authorization.k8s.io/v1beta1
kind: Role
metadata:
  name: codebox-lb
  namespace: default
rules:
  - apiGroups:
      - apps
    resources:
      - deployments/scale
    verbs:
      - get
      - patch
      - update

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: codebox-lb
  namespace: default

---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: RoleBinding
metadata:
  name: codebox-lb
  namespace: default
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: codebox-lb
subjects:
  - kind: ServiceAccount
    name: codebox-lb
    namespace: default
