kind: Service
apiVersion: v1
metadata:
  name: codebox-worker
  labels:
    k8s-app: codebox-worker
spec:
  type: ClusterIP
  selector:
    app: codebox
    type: worker
  ports:
    - name: http-metrics
      protocol: TCP
      port: 9080
      targetPort: http-metrics
